%p 
  %b Add Image
  = image_tag @recipe.image.url(:medium)
%p
  %b Title:
  = @recipe.title
%p
  %b Description:
  = @recipe.description

= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-primary"
\|
= link_to 'Back', recipes_path
